.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.field {
  display: flex;
  flex-direction: column;
  position: relative;
}

.field:not(:last-child) {
  margin-right: 100px;
}

.value {
  font-size: 60px;
  padding: 10px;
  text-align: center;
  color: #2964e6;
}

.label {
  font-size: 30px;
  padding: 20px 40px;
  background-color: #e4e131;
  color: #ffffff;
  border-radius: 30px;
}
